/********** PAGINA DE INICIO **********/

/* ENCABEZADO */
#encabezado {
  background-color: #252435;
  box-shadow: 0px 25px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

#imagen-inicio {
  padding-top: 10px;
  padding-left: 50px;
  padding-bottom: 35px;
}

.enlaces {
  margin-top: 30px;
  text-align: right;
  font-family: 'Times New Roman';
  position: relative;
}

#enlace-individual {
  display: inline;
  font-style: normal;
  font-weight: light;
  font-size: 17px;
  padding-right: 30px;
  color: white;
  text-decoration: none;
}

#enlace-individual:hover {
  text-shadow: 1px 1px 2px black, 0 0 25px darkblue, 0 0 5px darkblue;
}

/*.dropdown{
    display: inline-block;
    position: relative;
    text-align: center;
}

.dropdown-content{
    display: none;
    position: absolute;
    width: 100%;
    font-size: 16px;
    overflow: auto;
    color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    background-color: rgba(37,36,53,0.5);
    z-index: 999;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-content a {
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    text-align: left;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    text-shadow: 1px 1px 2px black, 0 0 25px darkblue, 0 0 5px darkblue;
  }*/

/* CONTACTENOS */
/*#contactenos{
    background-color: rgba(37,36,53,0.5);
    padding-top:30px;
    padding-bottom: 50px;
}

#enviarCorreo{
    padding-left: 500px;
    width: 1000px;
    padding-top: -60px;
}

#infoContacto{
    padding-left: 300px;
    padding-top: 50px;
    padding-right: -800px;
}*/
.container-contacto {
  min-width: 1507px;
  max-width: 1507px;
  margin-bottom: -18px;
}

.color {
  background-color: #252435;
  color: #fff;
}

.contact-info__list span.position-absolute {
  left: 0
}

/*.z-index-101 {
  z-index: 101;
}*/
.list-style--none {
  list-style: none;
}

/*.contact__wrapper {
  background-color: #fff;
  border-radius: 0 0 .625rem .625rem
}

@media (min-width: 1024px) {
  .contact__wrapper {
      border-radius: .625rem 0 .625rem .625rem
  }
}
@media (min-width: 1024px) {
  .contact-form__wrapper {
      padding: 5rem !important
  }
}
.shadow-lg, .shadow-lg--on-hover:hover {
  box-shadow: 0 1rem 3rem rgba(132,138,163,0.1) !important;
}*/


/* FOOTER */
#footer {
  background-color: #252435;
  text-align: center;
  padding-top: 10px;
}

#infofooter {
  color: white;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Times New Roman';
}

/****** PRODUCTOS RECOMENDADOS DEL INDEX ******/
#titulo-index{
  margin-top: 30px;
  color: #252435;
  font-size: 23px;
  font-family: 'Times New Roman';
  font-weight: bold;
  text-align: center;
}

#contenedores {
  display: flex;
  margin-top: 50px;
  margin-bottom: 35px;
  margin-left: 180px;
}

.contenedor-perfume{
  width: 255px;
  margin-left: 100px;
}

.contenedor-info-index-perfume{
  display: flex;
}

.imagen-index {
  height: 200px;
  width: 250px;
}

.num-perfume{
  font-size: 50px;
  color: #252435;
  padding-left: 10px;
  margin-top: 25px;
}

.nombre-perfume{
  color: black;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 42px;
}

/****** COMENTARIOS DE USUARIOS INDEX ******/

.img-sm {
  width: 46px;
  height: 46px;
  border-radius: 100px;
  margin-right: 15px;
}

.panel-comentarios{
  box-shadow: 0 2px 0 rgba(0,0,0,0.075);
  border-radius: 0;
  border: 0;
  margin-bottom: 15px;
}
/*
.panel .panel-footer, .panel>:last-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.panel .panel-heading, .panel>:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}*/

.panel-body {
  padding: 25px 20px;
  border: none;
}

.media-block .media-left {
  display: block;
  float: left
}
/*
.media-block .media-right {
  float: right
}*/

.media-block .media-body {
  display: block;
  overflow: hidden;
  width: auto
}
/*
.middle .media-left,
.middle .media-right,
.middle .media-body {
  vertical-align: middle
}

.thumbnail {
  border-radius: 0;
  border-color: #e9e9e9
}

.tag.tag-sm, .btn-group-sm>.tag {
  padding: 5px 10px;
}

.tag:not(.label) {
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 2px;
  border: 1px solid #cdd6e1;
  font-size: 12px;
  line-height: 1.42857;
  vertical-align: middle;
  -webkit-transition: all .15s;
  transition: all .15s;
}
.text-muted, a.text-muted:hover, a.text-muted:focus {
  color: #acacac;
}
.text-sm {
  font-size: 0.9em;
}
.text-5x, .text-4x, .text-5x, .text-2x, .text-lg, .text-sm, .text-xs {
  line-height: 1.25;
}

.btn-trans {
  background-color: transparent;
  border-color: transparent;
  color: #929292;
}

.btn-icon {
  padding-left: 9px;
  padding-right: 9px;
}

.btn-sm, .btn-group-sm>.btn, .btn-icon.btn-sm {
  padding: 5px 10px !important;
}*/

.mar-top {
  margin-top: 15px;
}

/* Calificacion Estrellas*/
#calificacion-estrellas {
  width: 250px;
  margin: -10px;
  margin-top: -36px;
  height: 50px;
}

#calificacion-estrellas p {
  text-align: center;
}

#calificacion-estrellas label {
  font-size: 25px;
}

.clasificacion input[type="radio"] {
  display: none;
}

.clasificacion  label {
  color: grey;
}

.clasificacion {
  direction: rtl;
  /*unicode-bidi: bidi-override;*/
}

.clasificacion label:hover,
.clasificacion label:hover ~ label {
  color: orange;
}

.clasificacion input[type="radio"]:checked ~ label {
  color: orange;
}

/********** CATALOGO **********/

/* General */

/* Shop: Slideshow */
/*.shop__slideshow {
  margin-top: -18px;
  margin-bottom: 60px;
}
.shop__slideshow .carousel-inner .item__container {
  display: table;
  width: 100%;
  height: 100%;
}
.shop__slideshow .carousel-inner .item-container__inner {
  display: table-cell;
  vertical-align: middle;
}
.shop__slideshow .carousel-inner .item {
  width: 100%;
  height: 600px;
}

.shop-slideshow__heading {
  margin: 0 0 20px 0;
  font-family: 'Questrial', sans-serif;
  font-size: 46px;
  line-height: 1.2;
  color: white;
}
.shop-slideshow__subheading {
  margin-bottom: 30px;
  font-family: 'Questrial', sans-serif;
  font-size: 20px;
  line-height: 1.5;
  color: white;
}
.shop-slideshow__btn {
  border: 2px solid white;
  border-radius: 0;
  color: white;
  font-weight: 600;
}
.shop-slideshow__btn:hover,
.shop-slideshow__btn:focus {
  color: #333333;
  background-color: white;
}
@media (max-width: 767px) {
  .shop__slideshow .carousel-inner .item {
    height: 400px;
    padding: 0 30px;
    text-align: center;
  }
  .shop-slideshow__heading {
    font-size: 32px;
  }
  .shop-slideshow__subheading {
    font-size: 16px;
  }
}*/
/* Carousel controls */
/*.shop-slideshow__control {
  display: block;
  position: absolute;
  top: 50%;
  left: 10px;
  width: 30px;
  height: 70px;
  opacity: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
       -o-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: opacity .3s;
       -o-transition: opacity .3s;
          transition: opacity .3s;
}
.shop-slideshow__control:hover {
  opacity: 1 !important;
}
.shop-slideshow__control[data-slide="next"] {
  left: auto;
  right: 10px;
}
.shop__slideshow:hover .shop-slideshow__control {
  opacity: .3;
}*/
/* Features */
/*.shop-index-features__item {
  margin-bottom: 40px;
  text-align: center;
}
.shop-index-features__icon {
  margin-bottom: 20px;
  width: 90px;
  height: 100px;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  line-height: 100px;
  text-align: center;
  font-size: 24px;
}
.shop-index-features__heading {
  margin-bottom: 15px;
}
.shop-index-features__heading + p {
  color: #777777;
}*/
/* Blog post */
/*.shop-index-blog__posts > [class*="col-"] {
  padding-top: 20px;
  padding-bottom: 20px;
  border-right: 1px solid rgba(0, 0, 0, 0.05);
}
.shop-index-blog__posts > [class*="col-"]:last-child {
  border-right: 0;
}
.shop-index-blog__post {
  width: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.shop-index-blog__img {
  position: relative;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px;
  width: 90px;
  height: 100px;
  overflow: hidden;
}
.shop-index-blog__img:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
 
}
.shop-index-blog__img > img {
  height: 100%;
  width: auto;
}
.shop-index-blog__body {
  overflow: hidden;
}
.shop-index-blog__heading {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.5;
}
.shop-index-blog__heading:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
.shop-index-blog__content {
  margin-bottom: 20px;
  color: #777777;
}
@media (max-width: 991px) {
  .shop-index-blog__img {
    float: none;
    margin-right: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .shop-index-blog__heading {
    text-align: center;
  }
  .shop-index-blog__heading:after {
    left: 50%;
    margin-left: -15px;
  }
}
@media (max-width: 767px) {
  .shop-index-blog__posts > [class*="col-"] {
    padding-top: 0;
    padding-bottom: 60px;
    border-right: 0;
  }
  .shop-index-blog__posts > [class*="col-"]:last-child {
    padding-bottom: 0;
  }
  .shop-index-blog__post {
    width: 100%;
  }
}*/
/* Newsletter */
/*.shop-index__newsletter {
  padding-bottom: 20px;
}
.shop-index__newsletter .shop-index__heading {
  margin-bottom: 20px;
  line-height: 42px;
  text-align: center;
}
.shop-index__newsletter input[type="email"] {
  height: 42px;
  padding: 11px 12px;
}
.shop-index__newsletter button[type="submit"] {
  padding: 11px 30px;
  width: 100%;
}
@media (min-width: 768px) {
  .shop-index__newsletter .shop-index__heading {
    margin-bottom: 0px;
    text-align: right;
  }
  .shop-index__newsletter input[type="email"] {
    border-radius: 21px 0 0 21px;
  }
  .shop-index__newsletter button[type="submit"] {
    margin-left: -3px;
    border-radius: 0 21px 21px 0;
    width: auto;
  }
}*/
/** Shop: Thumbnails **/
.shop__thumb {
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 20px;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
  -webkit-transition: border-color 0.1s, -webkit-box-shadow 0.1s;
  -o-transition: border-color 0.1s, box-shadow 0.1s;
  transition: border-color 0.1s, box-shadow 0.1s;
}

.shop__thumb:hover {
  border-color: rgba(0, 0, 0, 0.07);
  -webkit-box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.07);
}

.shop__thumb>a {
  color: #333333;
  text-decoration: none;
}

.shop__thumb>a:hover {
  text-decoration: none;
}

.shop-thumb__img {
  position: relative;
  margin-bottom: 20px;
  overflow: hidden;
}

.shop-thumb__title {
  font-weight: 500;
  font-size: 18px;
  font-family: 'Times New Roman';
}

.shop-thumb__price {
  color: #777777;
}

/** Shop: Item **/
/*.shop-item__info {
  padding: 30px;
  margin-bottom: 40px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.05);
}
.shop-item-cart__title {
  margin-bottom: 20px;
  line-height: 1.3;
}
.shop-item-cart__price {
  font-size: 28px;
  font-weight: 400;
  color: #F7C41F;
}
.shop-item__intro {
  color: #777777;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.shop-item__add button[type="submit"] {
  padding: 15px 20px;
}
.shop-item__img {
  margin-bottom: 40px;
}
.shop-item-img__main {
  width: -webkit-calc(100% - 110px);
  width: calc(100% - 110px);
  height: auto;
  float: left;
}
.shop-item-img__aside {
  width: 100px;
  height: auto;
  float: left;
}
.shop-item-img__aside > img {
  cursor: pointer;
  margin-bottom: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  opacity: .5;
}
.shop-item-img__aside > img:hover,
.shop-item-img__aside > img.active {
  border-color: rgba(0, 0, 0, 0.05);
  opacity: 1;
}
@media (max-width: 767px) {
  .shop-item-img__main {
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
  }
  .shop-item-img__aside {
    width: 50px;
  }
}*/
/** Shop: Filter **/
.shop__filter {
  margin-bottom: 40px;
  margin-top: 30px;
}

.tipo-letra {
  font-family: 'Times New Roman';
  font-weight: bolder;
  font-size: 18px;
}

.letra {
  font-family: 'Times New Roman';
}

/* Shop filter: Pricing */
.shop-filter__price {
  padding: 15px;
}

.shop-filter__price [class*='col-'] {
  padding: 2px;
}


/** Shop: Checkout **/
/*.checkout__block {
  margin-bottom: 40px;
}
.checkout-cart__item {
  margin-bottom: 15px;
}
.checkout-cart-item__img {
  max-width: 80px;
  margin-right: 10px;
  float: left;
}
.checkout-cart-item__content {
  overflow: hidden;
}
.checkout-cart-item__heading {
  margin-top: 0;
}
.checkout-cart-item__footer {
  padding: 10px 0;
  margin-top: 10px;
  border-top: 1px solid #eee;
}
.checkout-cart-item__price {
  font-weight: 600;
}
.checkout-total__block {
  margin-bottom: 40px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
.checkout-total__block > .row > [class*="col-"] {
  padding: 40px 40px;
  border-right: 1px solid #e9e9e9;
  color: #aaa;
}
.checkout-total__block > .row > [class*="col-"]:last-child {
  border-right: 0;
  color: #333333;
}
@media (max-width: 767px) {
  .checkout-total__block {
    border: 0;
  }
  .checkout-total__block > .row > [class*="col-"] {
    padding: 15px 20px;
    border: 0;
    border-top: 1px solid #e9e9e9;
  }
  .checkout-total__block > .row > [class*="col-"]:last-child {
    border-bottom: 1px solid #e9e9e9;
  }
}
.checkout-total__heading {
  float: left;
}
.checkout-total__price {
  float: right;
  margin: 9px 0;
  font-size: 17px;
}
.checkout__submit {
  padding: 15px 40px;
}*/
/** Shop: Order Confirmation */
/*.shop-conf__heading {
  margin-bottom: 40px;
}
.shop-conf__heading + p {
  margin-bottom: 100px;
}*/


/**
 * Forms
 */
/*.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}*/
/* Has error */
/*.has-error .form-control {
  border-color: #d9534f;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}
.has-error .form-control:focus {
  border-color: #b52b27;
}
.has-error .help-block {
  color: #d9534f;
}*/
/* Checkboxes */
.checkbox input[type="checkbox"] {
  display: none;
}

.checkbox label {
  padding-left: 0;
}

.checkbox label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #eee;
  text-align: center;
  font-family: "FontAwesome";
}

.checkbox input[type="checkbox"]:checked+label::before {
  content: "\f00c";
}

/* Radios */
.radio input[type="radio"] {
  display: none;
}

.radio label {
  padding-left: 0;
}

.radio label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 10px solid #eee;
  background-color: #333333;
}

.radio input[type="radio"]:checked+label:before {
  border-width: 7px;
}

/* Quantity */
/*.input_qty {
  margin-bottom: 10px;
}
.input_qty input[type="text"] {
  display: none;
}
.input_qty label {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 40px;
  text-align: center;
}
.input_qty label > span:not(.output) {
  width: 40px;
  height: 40px;
  float: left;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
.input_qty label > span:not(.output):last-child {
  float: right;
  border-right: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.input_qty label > span:not(.output):hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.input_qty label > output {
  display: inline-block;
  line-height: inherit;
  padding: 0;
}
.input_qty_sm label {
  width: 80px;
  height: 20px;
  border: 0;
  line-height: 20px;
  color: #ccc;
}
.input_qty_sm label > span:not(.output) {
  width: 20px;
  height: 20px;
  border: 0 !important;
}
.input_qty_sm label > span:not(.output):hover {
  background-color: transparent;
  color: #333333;
}
.input_qty_sm label output {
  color: #ccc;
  font-weight: 600;
}*/

/****** INICIO SESION ******/
.titulo-login {
  font-family: 'Times New Roman';
  font-size: 25px;
  font-weight: bold;
}

.container-inicio-sesion {
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#img-login {
  display: block;
  width: 1518px;
  opacity: 0.8;
}

/*
@media (min-width: 576px) {
  .container-inicio-sesion {
      max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container-inicio-sesion {
      max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container-inicio-sesion {
      max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container-inicio-sesion {
      max-width: 1140px;
  }
}

.card-columns .card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-columns {
      column-count: 3;
      column-gap: 1.25rem;
  }
  .card-columns .card {
      display: inline-block;
      width: 100%;
  }
}
.text-muted {
  color: #9faecb !important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.mb-3 {
  margin-bottom: 1rem !important;
}

.input-group {
  position: relative;
  display: flex;
  width: 100%;
}*/

/****** REGISTRO USUARIOS ******/
.container-registro {
  position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row-registro{
  margin-top: -80px;
  margin-bottom: 20px;
}

/*.masthead-text {
  height: 300px;
}

.form-control {
  height: 45px;
}

select:hover {
  color: #444645;
  background: #ddd;
}

.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}

.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
  font-size: 12px
}

#login-dp .social-buttons {
  margin: 12px 0
}

#login-dp .social-buttons a {
  width: 49%;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-fb {
  color: #fff;
  background-color: #3b5998;
}

.btn-fb:hover {
  color: #fff;
  background-color: #496ebc
}

.btn-tw {
  color: #fff;
  background-color: #55acee;
}

.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}

@media(max-width:768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }

  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}*/

.progress {
  height: 5px;
}

.block-help {
  font-weight: 300;
}

.hide {
  display: none;
}


/****** PERFIL ******/

/*.panel {
  box-shadow: none;
}
.panel-heading {
  border-bottom: 0;
}*/
.panel-title {
  font-size: 18px;
  font-family: 'Times New Roman';
  font-weight: bold;
  color: white;
}
.panel-title > small {
  font-size: .75em;
  font-family: 'Times New Roman';
  color: #999999;
}
/*.panel-body *:first-child {
  margin-top: 0;
}
.panel-footer {
  border-top: 0;
}

.panel-default {
    color: #333333;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.07);
}*/

.panel-default{
  padding-top: 15px;
}

.estilo-panel{
  margin-left: 80px;
  padding-left: 40px;
  margin-top:20px;
  width: 700px; 
  padding-bottom: 20px; 
  border-radius: 10px;
  background-color: #252435;
  box-shadow: 0px 15px 6px 0px rgba(0, 0, 0, 0.2);
}

form label {
    color: #999999;
    font-weight: 400;
}
.control-label{
  font-family: 'Times New Roman';
  text-align: left;
  padding-left: 30px;
}

.estilo-grupo-perfil {
  display: flex;
}

.estilo-control-perfil{
  margin-left: 50px;
  width: 400px!important;
}

/*@media (min-width: 768px) {
  .form-horizontal .control-label {
    text-align: right;
    margin-bottom: 0;
    padding-top: 7px;
  }
}

.profile__contact-info-icon {
    float: left;
    font-size: 18px;
    color: #999999;
}
.profile__contact-info-body {
    overflow: hidden;
    padding-left: 20px;
    color: #999999;
}*/
.imagen-perfil {
  width: 200px;
  margin-left: 35%;
  position: relative;
  border: 3px solid #252435;
  padding: 5px;
  border-radius: 100px;
}

/****** CARRITO DE COMPRAS ******/

.titulos-carrito{
  font-family: 'Times New Roman';
  color: white;
}

.ui-w-40 {
  width: 40px !important;
  height: auto;
}

.card{
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
  display: inline-block;
  overflow: hidden;
  margin: .144em;
  width: .875rem;
  height: .875rem;
  border-radius: 10rem;
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
  vertical-align: middle;
}